body{
    background-color: #f4f4f4;
}


.card{
    margin-top: 20px;
}

.card img{
    height: 350px;
}


.Main-crad{
    display: flex;
    justify-content: space-evenly;
}

.input{
    padding: 10px;
    margin-top: 100px;
    margin-left: 20px;
    width: 94%;
}

.butttons{
    margin:10px 20px;
    padding: 5px;
}

.butttons button{
    margin-left: 10px;

}